{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productingredient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productIngredient.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ productIngredient.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_productingredient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_productingredient_edit', { 'id': productIngredient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
